{% extends 'base.html' %}
{% block title %}
  Gen voter links
{% endblock %}

{% block content %}
  <body>
  <div class="container">
<button
  hx-get="/modal"
  hx-target="#modals-here"
  hx-trigger="click"
  data-bs-toggle="modal"
  data-bs-target="#modals-here"
  class="btn btn-primary">help
</button>


    <br>
    Pick one to generate a link - then vote using vote using the link

    <form method="post" style="color:white">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
  </div>
  <br>

  <div class="container">

    <table class="table-light, table-sm">
      <caption>ballot group(s) up to 3 groups</caption>
      <thead>
      <tr>
        <th class="col-Auto"> First Group</th>
        <th class="col-auto"> Second Group</th>
        <th class="col-auto"> Third Group</th>
      </tr>
      </thead>


      <tbody>
      {% for tokenlistselector in tokenlistselectors %}
        <tr>
          <td class="col-Auto"> {{ tokenlistselector.primary_grp }}</td>
          <td class="col-Auto"> {{ tokenlistselector.secondary_grp }}</td>
          <td class="col-Auto"> {{ tokenlistselector.tertiary_grp }}</td>
          <td>
            <a
              class="btn btn-link"
              hx-get="/single_token/{{ tokenlistselector.id_tokenListSelector }}"
              hx-target="#qrcode"
              hx-trigger="click"
            >
              Click to generate link
            </a>
          </td>

        </tr>
      {% endfor %}

    </table>

  <div id="modals-here"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

  </div>

  <div class="container" id="qrcode">
  </div>



  </body>

{% endblock %}
    
    
