<div class="container">
  <div class="row">
    <div class="col-2">
      {{ form.office_measure.label() }}
    </div>
    <div class="col-lg-4">
      {{ form.office_measure(rows=3, maxlength=256, class_="form-control") }}
    </div>
    <div class="col-6">
      <b>Enter the measure for the office (max 256 characters).</b>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-2">
      {{ form.office_vote_for.label() }}
    </div>
    <div class="col-lg-4">
      {{ form.office_vote_for() }}
    </div>
    <div class="col-6">
      <b> Max vote for </b>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-2">
      {{ form.sortkey.label() }}
    </div>
    <div class="col-lg-4">
      {{ form.sortkey() }}
    </div>
    <div class="col-6">
      <b>For sort order in dropdowns. Use up down arrows in entry field or keyboard. Or, enter number.</b>
    </div>
  </div>
</div>